{% include 'links.html' %}



<nav class="menu">
  <span class="logo">
  	<img src="https://img.freepik.com/premium-vector/groceries-icon-vector-image-can-be-used-web-store_120816-189336.jpg" style="width:55px;">
  </span>

  <ol>
    <li class="menu-item"><a href="/">Home</a></li>
    <li class="menu-item"><a href="/admin_login">Admin</a></li>
    <li class="menu-item"><a href="/user_login">User</a></li>
  </ol>
  <span class="bar"></span>
</nav>


<style>
    body {
        background-image: url('https://img.freepik.com/premium-vector/grocery-shopping-concept-background-shopping-bag-with-various-types-food-stuff-cartoon-style-illustration_266159-24.jpg');
        background-size: cover;
        background-position: cover;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        height: 100px;
    }
</style>


